<%-include("header")-%>
    <div class="box" id="heading">

        <h1><%= listTitle %></h1>
    </div>
    <div class="box">
        <% for(let i=0;i < listOfTasks.length;i++){%>
            
            <div class="item">
                    <input type="checkbox">
                    <p><%= listOfTasks[i] %></li>
                    </div>
                        <%}%> 
            <form class="item" action="/" method="post">
               <label for="inputValue"></label>
               <input id="inputValue" name="task" type="text" placeholder="New Task" autocomplete="off">
               <button type="submit" name="list" value=<%=listTitle%>>+</button>
            </form>
    </div>
    <%-include("footer")-%>
</html>